## Tensor FLow Classisfication Example

In [34]:
import pandas as pd

In [35]:
census_data = pd.read_csv("E:\DataScience\datasets\census_data")

In [36]:
census_data.shape

(32561, 15)

In [37]:
census_data.head()

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,gender,captial_gain,captial_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [38]:
census_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
final_weight      32561 non-null int64
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
gender            32561 non-null object
captial_gain      32561 non-null int64
captial_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_country    32561 non-null object
income_bracket    32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [39]:
del census_data['final_weight']

In [40]:
census_data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,captial_gain,captial_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [41]:
census_data['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [42]:
salary_map = {' <=50K': 0,' >50K':1}

In [43]:
census_data['income_bracket'] = census_data['income_bracket'].map(salary_map)

In [44]:
census_data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,captial_gain,captial_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [45]:
census_data['income_bracket'].unique()

array([0, 1], dtype=int64)

In [47]:
from sklearn.model_selection import train_test_split

In [52]:
x_data = census_data.drop('income_bracket',axis=1)
y_labels = census_data['income_bracket']
X_train,X_test,y_train,y_test = train_test_split(x_data,y_labels,test_size = 0.3 , random_state = 10)

### Tensor Flow offers an API called estimator

### model = tf.estimator.LinearClassifer(feature_columns = feat_cols)

### model.train(input_fn = input_func,steps = 5000)

### pepare feature columns and input function

In [56]:
census_data.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'captial_gain',
       'captial_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [58]:
census_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 14 columns):
age               32561 non-null int64
workclass         32561 non-null object
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
gender            32561 non-null object
captial_gain      32561 non-null int64
captial_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_country    32561 non-null object
income_bracket    32561 non-null int64
dtypes: int64(6), object(8)
memory usage: 3.5+ MB

In [64]:
census_data.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'captial_gain',
       'captial_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

#### Create the tf.feature_columns for the categorical values . Use vocabulary lists or hash buckets
#### Vacabulary lists are used when you know the number categories 
#### hash buckets are used when you don't know the possible values

In [57]:
import tensorflow as tf

C:\Users\venkat\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [74]:
gender = tf.feature_column.categorical_column_with_vocabulary_list('gender',['Female','Male'])
education = tf.feature_column.categorical_column_with_hash_bucket('education', hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket('marital_status', hash_bucket_size=1000)
occupation = tf.feature_column.categorical_column_with_hash_bucket('occupation', hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket('relationship', hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket('workclass', hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket('native_country', hash_bucket_size=1000)

#### create the continuous feature_columns for continuous values using numeric_column

In [75]:
age = tf.feature_column.numeric_column('age')
education_num = tf.feature_column.numeric_column('education_num')
captial_gain = tf.feature_column.numeric_column('captial_gain')
captial_loss = tf.feature_column.numeric_column('captial_loss')
hours_per_week = tf.feature_column.numeric_column('hours_per_week')

In [76]:
feat_cols = [gender,education,marital_status,occupation,relationship,workclass,native_country,age,education_num,captial_gain,captial_loss,hours_per_week]

In [77]:
input_fuction = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100,num_epochs=None,shuffle=True)

In [78]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\venkat\AppData\Local\Temp\tmpxamw6fe_
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\venkat\\AppData\\Local\\Temp\\tmpxamw6fe_', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x00000259ACC2E4A8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [79]:
model.train(input_fn=input_fuction,steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From C:\Users\venkat\Anaconda3\lib\site-packages\tensorflow\python\training\monitored_session.py:804: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\venkat\AppData\Local\Temp\tmpxamw6fe_\model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 1
INFO:tensorflow:global_step/sec: 82.5438
INFO:tensorflow:loss = 228.35815, step = 101 (1.203 sec)
INFO:tensorflow:global_step/sec: 155.809
INFO:tensorflow:loss = 285.3696, step = 201 (0.642 sec)
INFO:tensorflow:global_step/sec: 154.869
INFO:tensorflow:loss = 132.1585, step = 301 (0.646 sec)
INFO:tensorflow:global_step/sec: 145.139
INFO:tensorflow:loss = 88.90291, step = 401 (0.687 sec)
INFO:tensorflow:global_step/sec: 132.537
INFO:tensorflow:loss = 296.92303, step = 501 (0.756 sec)
INFO:tensorflow:global_step/sec: 113.159
INFO:tensorflow:loss = 176.46956, step = 601 (0.884 sec)
INFO:tensorflow:global_step/sec: 120.479
INFO:tensorflow:loss = 47.7503, step = 701 (0.828 sec)
INFO:tensorflow:global_step/sec: 162.619
INFO:tensorflow:loss = 77.34291, step = 801 (0.616 sec)
INFO:tensorflow:global_step/sec: 153.969
INFO:tensorflow:loss = 210.04092, step = 901 (0.649 sec)
INFO:tensorflow:global_step/sec: 148.933
INFO:tensorflow:loss = 217.66273, step = 1001 (0.673 sec)
INFO:tensorflow:global_step/sec: 151.394
INFO:tensorflow:loss = 42.5878, step = 1101 (0.661 sec)
INFO:tensorflow:global_step/sec: 142.31
INFO:tensorflow:loss = 183.19424, step = 1201 (0.699 sec)
INFO:tensorflow:global_step/sec: 155.829
INFO:tensorflow:loss = 43.090916, step = 1301 (0.645 sec)
INFO:tensorflow:global_step/sec: 150.717
INFO:tensorflow:loss = 62.939457, step = 1401 (0.662 sec)
INFO:tensorflow:global_step/sec: 143.194
INFO:tensorflow:loss = 75.014595, step = 1501 (0.700 sec)
INFO:tensorflow:global_step/sec: 151.929
INFO:tensorflow:loss = 64.82337, step = 1601 (0.657 sec)
INFO:tensorflow:global_step/sec: 163.565
INFO:tensorflow:loss = 45.36435, step = 1701 (0.608 sec)
INFO:tensorflow:global_step/sec: 147.306
INFO:tensorflow:loss = 47.337173, step = 1801 (0.682 sec)
INFO:tensorflow:global_step/sec: 151.352
INFO:tensorflow:loss = 39.43781, step = 1901 (0.662 sec)
INFO:tensorflow:global_step/sec: 161.834
INFO:tensorflow:loss = 37.91576, step = 2001 (0.616 sec)
INFO:tensorflow:global_step/sec: 150.444
INFO:tensorflow:loss = 130.79082, step = 2101 (0.666 sec)
INFO:tensorflow:global_step/sec: 153.75
INFO:tensorflow:loss = 49.64042, step = 2201 (0.650 sec)
INFO:tensorflow:global_step/sec: 150.074
INFO:tensorflow:loss = 29.794088, step = 2301 (0.666 sec)
INFO:tensorflow:global_step/sec: 155.892
INFO:tensorflow:loss = 30.978392, step = 2401 (0.641 sec)
INFO:tensorflow:global_step/sec: 149.588
INFO:tensorflow:loss = 189.72906, step = 2501 (0.670 sec)
INFO:tensorflow:global_step/sec: 152.315
INFO:tensorflow:loss = 39.272243, step = 2601 (0.657 sec)
INFO:tensorflow:global_step/sec: 151.764
INFO:tensorflow:loss = 69.65988, step = 2701 (0.659 sec)
INFO:tensorflow:global_step/sec: 146.06
INFO:tensorflow:loss = 49.18428, step = 2801 (0.687 sec)
INFO:tensorflow:global_step/sec: 146.22
INFO:tensorflow:loss = 47.62073, step = 2901 (0.685 sec)
INFO:tensorflow:global_step/sec: 141.208
INFO:tensorflow:loss = 110.26199, step = 3001 (0.706 sec)
INFO:tensorflow:global_step/sec: 149.986
INFO:tensorflow:loss = 122.406944, step = 3101 (0.664 sec)
INFO:tensorflow:global_step/sec: 140.865
INFO:tensorflow:loss = 180.31715, step = 3201 (0.711 sec)
INFO:tensorflow:global_step/sec: 160.219
INFO:tensorflow:loss = 70.80415, step = 3301 (0.624 sec)
INFO:tensorflow:global_step/sec: 148.989
INFO:tensorflow:loss = 54.693745, step = 3401 (0.672 sec)
INFO:tensorflow:global_step/sec: 160.479
INFO:tensorflow:loss = 71.62477, step = 3501 (0.621 sec)
INFO:tensorflow:global_step/sec: 150.317
INFO:tensorflow:loss = 54.650745, step = 3601 (0.666 sec)
INFO:tensorflow:global_step/sec: 147.246
INFO:tensorflow:loss = 46.43258, step = 3701 (0.679 sec)
INFO:tensorflow:global_step/sec: 145.109
INFO:tensorflow:loss = 116.452576, step = 3801 (0.688 sec)
INFO:tensorflow:global_step/sec: 161.858
INFO:tensorflow:loss = 27.675478, step = 3901 (0.620 sec)
INFO:tensorflow:global_step/sec: 149.23
INFO:tensorflow:loss = 52.12585, step = 4001 (0.670 sec)
INFO:tensorflow:global_step/sec: 152.964
INFO:tensorflow:loss = 37.413776, step = 4101 (0.653 sec)
INFO:tensorflow:global_step/sec: 154.066
INFO:tensorflow:loss = 35.045937, step = 4201 (0.648 sec)
INFO:tensorflow:global_step/sec: 155.011
INFO:tensorflow:loss = 35.85507, step = 4301 (0.646 sec)
INFO:tensorflow:global_step/sec: 148.068
INFO:tensorflow:loss = 29.091312, step = 4401 (0.675 sec)
INFO:tensorflow:global_step/sec: 157.115
INFO:tensorflow:loss = 277.53293, step = 4501 (0.636 sec)
INFO:tensorflow:global_step/sec: 148.57
INFO:tensorflow:loss = 55.413445, step = 4601 (0.674 sec)
INFO:tensorflow:global_step/sec: 150.164
INFO:tensorflow:loss = 54.214138, step = 4701 (0.663 sec)
INFO:tensorflow:global_step/sec: 160.482
INFO:tensorflow:loss = 44.249584, step = 4801 (0.626 sec)
INFO:tensorflow:global_step/sec: 154.636
INFO:tensorflow:loss = 162.45763, step = 4901 (0.651 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\venkat\AppData\Local\Temp\tmpxamw6fe_\model.ckpt.
INFO:tensorflow:Loss for final step: 49.06166.

### Evaluation

In [87]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x= X_test,batch_size=len(X_test),shuffle=False)

In [88]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\venkat\AppData\Local\Temp\tmpxamw6fe_\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [89]:
predictions[0]

{'logits': array([-5.253795], dtype=float32),
 'logistic': array([0.00520045], dtype=float32),
 'probabilities': array([0.9947995 , 0.00520045], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object)}

In [90]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [91]:
final_preds[:10]

[0, 0, 1, 1, 1, 0, 0, 1, 0, 0]

In [92]:
from sklearn.metrics import classification_report

In [93]:
print(classification_report(y_test,final_preds))

             precision    recall  f1-score   support

          0       0.90      0.88      0.89      7423
          1       0.64      0.71      0.67      2346

avg / total       0.84      0.83      0.84      9769